<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>

  <!-- Place details page -->

  <h1><%= @place["name"] %></h1>


  <ul>
  <% for entry in @entries %>
    <h2><strong><%= entry["title"] %> </strong> </h2>
    <li> <%= entry["occurred_on"] %>  </li>
    <li> <%= entry["description"] %>  </li>
    
  <% end %>
  </ul>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>


  <p>
    <a href="/places">Back to All Places</a>
  </p>

  </body>
</html>
