<!-- Place details page -->

<h1><%= @place["name"] %></h1>


<ul>
<% for entry in @entries %>
  <li><%= entry["title"] %> 
  <%= entry["occured_on"] %>
  <%= entry["description"] %>
   </li>
<% end %>
</ul>

<p>
  <a href="/places/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>